# Copier ce fichier en secrets.toml et remplir les valeurs
# Créer une app sur https://www.strava.com/settings/api

STRAVA_CLIENT_ID     = "112938"
STRAVA_CLIENT_SECRET = "your_client_secret_here"
STRAVA_REDIRECT_URI  = "http://localhost:8501"   # changer pour le domaine de déploiement
